@model List<Post>
<div class="row">
    <div class="col-12">
   
      <h2>Post Listesi</h2>
      <a href="/Posts/Create" class="btn btn-primary">Post Ekle</a>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:200px;">Image</th>
                <th>Title</th>
                <th>IsActive</th>
                <th style="width:125px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td><img src="~/img/@item.PostImage" class="img-fluid" alt=""></td>
                    <td>@item.Title</td>
                    <td>@item.IsActive</td>
                    <td><a href="/posts/edit/@item.PostId" class="btn btn-sm btn-primary">Edit</a></td>
                    <td><a href="/posts/delete/@item.PostId" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
      </table>
    </div>
</div>
